@import 'variables';

/* ------------------------
 *  HEADER / NAV
 * ------------------------ */
.turbolinks-progress-bar {
  background-color: $tufts_blue;
}

#masthead.navbar {
  position: static;
  border-top: 0;
  border-bottom: 5px solid $tufts_blue;
  padding: 0 2em;

  .navbar-nav > li > a {
    color: #337ab7;
  }
}
